.App {
  color: #EAF2EF;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
}

.Topbar {
  position: fixed;
  box-sizing: inherit;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
}

.TopbarButtons {
  font-size: 1.25rem;
  display: grid;
  gap: 2vw;
  text-decoration: none;
  place-items: center;
}

.MenuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0D090A;
  z-index: 5;
}

.TopbarButton { 
  text-decoration: none;
  color: inherit;
  border-style: none none solid none;
  border-color: transparent;
  transition: color 500ms;
  transition: border-color 500ms;
}

.TopbarButton:hover {
  color: #5C946E;
  border-color: #5C946E;
  transition: color 100ms;
  transition: border-color 200ms;
}

.ScrollContainer { 
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
}

.ScrollChild { 
  margin: 50vh 0vh;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
}

.HelloPage { 
  display: grid;
  padding: 0vw 5vw;
}

.AboutPage { 
  display: grid;
  gap: 2vh;
  padding: 0vw 5vw;
}

.ContactPage { 
  display: grid;
  gap: 5vw;
  padding: 0vw 5vw;
}

.ContactButtons {
  display: grid;
  grid-auto-flow: column;
  gap: 5vw;
}

.ContactButton {
  color: #E6AACE;
  border-bottom: 0.25rem solid #E6AACE;
  transition: color 500ms;
  transition: border-color 500ms;
}

.ContactButton:hover {
  color: #CD519B;
  border-bottom: 0.25rem solid #CD519B;
  transition: color 250ms;
  transition: border-color 250ms;
}

.SkillsPage {
  display: grid;
  width: 100%;
  place-items: center;
}

.SkillsGrid {
  display: grid;
  grid-auto-flow: column;
  gap: 3vw;
  place-items: center;
  width: 100%;
}

.SkillsGridMobile {
  display: grid;
  gap: 3vw;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
}

.Project {
  padding: 0vw 5vw;
  display: grid;
}

@media only screen and (max-width: 700px) {
  .TopbarButtons {
    gap: 5vh;
  }
}